<nav>
        <ul>
            <li><a href = "/mainPage">Go back to main page</a></li>
        </ul>
</nav>
<div class = "new-search">
    <h1> Search by CourseID </h1>
    <p id = "searchP"> Please type a course ID that you want to search</p>
    <form action = "search" method = "POST" class = "new-search-form">
        <label>
            Search course ID
            <input type="number" name = "courseID" class="full-width-input"/>
        </label>
        <button type = "submit" class = "searchButton">Search</button>
    </form>
</div>
<div>
    <h1> Search by department</h1>
    <p> Please choose a department that you want to search</p>
    {{!-- <ul>
        <li><a href = "">Computer Science</a></li>
        <li><a href = "">Electrical Engineering</a></li>
    </ul> --}}
    <form action = "department" method = "POST">
        <label for="department">Department</label>
        <select value="{{department}}" name="department" id="department">
          <option value="Computer Science">Computer Science</option>
          <option value="Electrical Engineering">Electrical Engineering</option>
        </select>
        <button type = "submit" class = "searchButton">Search</button>
    </form>
</div>
<div>
    <h1>Drop course</h1>
    {{#if booDrop}}
    <p>Please choose one of the following registeredCourses to drop</p>
    <ul>
        {{#each registeredCoursesList}}
        <article>
        <li>
            <a href = "/courses/registration/drop/{{this._id}}">{{this.courseTitle}}  {{this.courseName}}</a>
        </li>
        </article>
        {{/each}}
    </ul>
    {{else}}
    <p>Sorry, you don't have any registered course yet</p>
    {{/if}}
</div>